@inherits LayoutComponentBase
@layout AccountLayout

<h1 class="text-center">Редактирование аккаунта</h1>

<div class="container justify-content-center shadow-box">
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
